# Go
pkg/
.gocache/
.go-build/
go.work
go.work.sum
staticcheck.cache/
golangci-lint-report.xml
native/go/floodles-engine

# Rust
native/rust/target/
Cargo.lock
*.crate
*.rlib
clippy.lint
rustfmt.toml
rustfmt_config.toml
.rust_analyzer.json
*.gcda
*.gcno

# Perl
local/
fatlib/
extlib/
vendor/
.carton/
cpanfile.snapshot
*.t
nytprof.out
nytprof/
*.profdata
.perldb
MYMETA.*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
build/
dist/
.eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
.hypothesis/
*.mo
*.pot
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.ipynb_checkpoints
profile_default/
ipython_config.py
.pybuilder/
target/
.pdm.toml
.pdm-python
.pdm-build/
poetry.lock
.mypy_cache/
.pyre/
.pytype/
cython_debug/

# Shell/Bash
*.bak
*.orig
*.tmp
*.old
*.pid
*.sock
*.history

# Logs and debug
*.log
*.log.*
*.out
*.err
*.trace
*.profraw
nohup.out

# Compiled artifacts
bin/
obj/
*.o
*.a
*.la
*.lo
*.dylib
*.exe
*.dll
*.com
*.d
Makefile~

# Generated / locks
*.lock

# Editors
*.swp
*.swo
*.swn
*.viminfo
.nanorc
*.save
.vscode/
*.code-workspace
*.sublime-project
*.sublime-workspace
.idea/
*.iml
*~
*.spacemacs

# macOS
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100/
.Trashes/
._*
__MACOSX/

# Windows
Thumbs.db
ehthumbs.db
*.lnk
Desktop.ini
$RECYCLE.BIN/

# Project
logs/
CLAUDE.md
